<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Image App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}" /> -->
  <link rel="stylesheet" type="text/css" href="../static/style.css" />
  <!-- <link rel="shortcut icon" type="image/png" href="../static/favicon.png"> -->
  <!-- Reset CSS -->
  <!-- <link rel="stylesheet" href="../static/css/reset.css"> -->

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="cover.css" rel="stylesheet"> -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


    </style>
    <script type="text/javascript">
        var canvas, ctx, flag = false,
            prevX = 0,
            currX = 0,
            prevY = 0,
            currY = 0,
            dot_flag = false;

        var x = "dark-gray",
            y = 2;

        console.log("Script");

        function draw() {
            ctx.beginPath();
            ctx.moveTo(prevX, prevY);
            ctx.lineTo(currX, currY);
            ctx.strokeStyle = x;
            ctx.lineWidth = y;
            ctx.stroke();
            ctx.closePath();
        }    

        function init() {
            console.log("Script initialized");
            canvas = document.getElementById('can');
            console.log(canvas);
            ctx = canvas.getContext("2d");
            w = canvas.width;
            h = canvas.height;
        
            canvas.addEventListener("mousemove", function (e) {
                findxy('move', e)
            }, false);
            canvas.addEventListener("mousedown", function (e) {
                findxy('down', e)
            }, false);
            canvas.addEventListener("mouseup", function (e) {
                findxy('up', e)
            }, false);
            canvas.addEventListener("mouseout", function (e) {
                findxy('out', e)
            }, false);
        }

        function save() {
            document.getElementById("img-capture").style.border = "2px solid";
            var dataURL = canvas.toDataURL();
            document.getElementById("img-capture").src = dataURL;
            document.getElementById("img-capture").style.display = "inline";
        }

        function findxy(res, e) {
            if (res == 'down') {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
        
                flag = true;
                dot_flag = true;
                if (dot_flag) {
                    ctx.beginPath();
                    ctx.fillStyle = x;
                    ctx.fillRect(currX, currY, 2, 2);
                    ctx.closePath();
                    dot_flag = false;
                }
            }
            if (res == 'up' || res == "out") {
                flag = false;
            }
            if (res == 'move') {
                if (flag) {
                    prevX = currX;
                    prevY = currY;
                    currX = e.clientX - canvas.offsetLeft;
                    currY = e.clientY - canvas.offsetTop;
                    draw();
                }
            }
        }
        
        function erase() {
            var m = confirm("Want to clear");
            if (m) {
                ctx.clearRect(0, 0, w, h);
                document.getElementById("canvasimg").style.display = "none";
            }
        }

    </script>

<body onload="init()" class="text-center">
    <div class="cover-container d-flex p-3 mx-auto flex-column">
    <header class="masthead">
        <div class="inner">
            <h3 class="masthead-brand">Image App</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="index.html">Upload</a>
                <a class="nav-link active" href="#">Draw</a>
                <a class="nav-link" href="https://github.com/IrinaUX/ML_image_recognition">GitHub Repo</a>
            </nav>
        </div>
    </header>

    
    <main role="main" class="inner cover">
        <!-- <div class="cover-container d-flex w-100 h-100 p-3 flex-column"> -->
    
        <img id="image-preview" class="hidden" />
        <p class="lead"></p>
        <h1 class="cover-heading">Try drawing it</h1>
          <p class="lead">
        </p>
        <div class="canvas">
            <canvas id="can" width="400" height="400"></canvas>
        </div>
        <br>
        <p class="lead">Try cat, dog, plane, truck, frog, bird, ship, automobile, deer or horse</p>
        <p class="lead"></p>
        <br>
        <div style="margin-bottom: 2rem;">
            <input type="button" value="Capture" onclick="save()" class="btn btn-lg btn-secondary" onclick="captureImage();" />
            <input type="button" value="Submit" class="btn btn-lg btn-secondary" onclick="submitImage();" />
            <input type="button" value="Clear" class="btn btn-lg btn-secondary" onclick="erase()">
        
        </div>
        <div class="canvas2">
            <img id="img-capture" width="400" height="400">
        </div>
        
        <p class="lead"></p>
        <!-- <div id="image-box">
            <img id="image-display" />
            <h1 id="pred-result" class="hidden"></h1>
            <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
            <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
            </svg>
        </div> -->
    </main>


    <footer class="mastfoot mt-auto">
        <div class="inner">
          <!-- <script type="text/javascript" src="{{ url_for('static',filename='canvas.js') }}"></script> -->
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
</body>
</html>
