<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Templates 101</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- 1. Add CSS to `<head>` -->
  <link href="https://transloadit.edgly.net/releases/uppy/v1.21.2/uppy.min.css" rel="stylesheet">

  <!-- 2. Add JS before the closing `</body>` -->
  <!-- <script src="https://transloadit.edgly.net/releases/uppy/v1.21.2/uppy.min.js"></script> -->
  
</head>

<body>



  <div class="container">

    <div class="jumbotron text-center">
      <!-- Add Welcome message with name and hobby served from backend -->
      <h1>Welcome to the image recognition classification</h1>
      <p>- Model CNN - {{ model }} </p>
    </div>



    <!-- <form action="/action_page.php">
      <label for="img">Select image:</label>
      <input type="file" id="img" name="img" accept="image/*">
      <input type="submit" value ="Provide image link">
      
      <input type="url" name="url" id="url"
      placeholder="https://example.com"
      pattern="https://.*" size="30"
      required, type="submit"> 
    </form>

    <label for="url">Enter an https:// URL:</label> -->

    <!-- <h1>File Upload</h1>
    <form class="upload" method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="uploadFile" accept="image/*" required></p>
      <p><input type="submit" value="Submit"></p>
    </form> -->

    <input id="inp" type='file' multiple>
    <p id="b64"></p>
    <img id="img" height="150">
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  </div>
</body>

</html>